# Verification

```bash
cd sim
bash comp.sh # Compile and Elaborate with XVlog and XElab (Xilinx)
bash sim.sh  # Simulate with Xilinx XSim (load snap.wcfg)
```